html{
	font-family: sans-serif;
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 7em;
    padding-left: 7em;
}
h3{
	text-align: center;
}

.btn{
    border:1px solid #ffffff;
    background-color:#4caf50;
    font: 0.8em sans-serif;
    height: 2.5em;
    color: white;
    text-shadow:0px 1px 0px #4caf50;
}

.btn:hover {
    background-color:#449d44;
}

td button, .btn_modal input{
    border:1px solid #cccccc;
    background-color:#ffffff;
    text-shadow:0px 1px 0px #ffffff;
    height: 2.2em;
}

.btn_delete{
    border:1px solid #c92e2c;
    background-color: #D9534F;
    text-shadow:0px 1px 0px #D9534F;
    height: 2.2em;
    color: white;
}

.btn_delete:hover{
    background-color:#D2322D;
}

td button:hover, .btn_modal input:hover{
    background-color:#efeded;
}

input, textarea, select{
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 0.8em sans-serif;

    /* Para darle el mismo tamaño a todos los campos de texto */
    width: 300px;

    /* Para armonizar el look&feel del borde en los campos de texto */
    border: 1px solid #999;
    height: 2em;
    padding-left: 0.2em;
}

.btn_buscar, .btn_delete, .btn_share, .btn_add{
    width: 119px;
}

#selectFile{
    border: none;
}

#register, #login{
	/* Sólo para centrar el formulario a la página */
    margin: 15% auto;
    width: 300px;
    /* Para ver el borde del formulario */
    padding: 1.5em;
    border: 1px solid #CCC;
    background-color: #fdfdfd;
}

.frm_table, .frm_add{
    padding: 0;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
}

#form_table, #form_upload_file{
    padding-top: 0;
}

#form_table{
    padding: 10px;
}

.frm_table p, .frm_add p{
    padding: 7px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    background-color: #F5F5F5;
}

#form_upload_file input{
    margin-top: 1em;
    margin-left: 1em;
}

.form_input{
    width: 600px;
}

#form_register input, #form_login input, #form_share input{
	margin-top: 1em;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;  
    margin: 0 auto;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}

select {
 background: transparent;
 border: none;
}

#form_login, #busqueda, #logout, .div_add{
    text-align: right;
}

.txt_search #lbl_search, .titulo3{
    text-align: left;
}

.titulo3{
    padding-bottom: 0.5px;
    border-bottom: 1px solid #CCC;
}

a{
    font-size: 0.8em;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}
.divModal {
    text-align: center;
    width: 400px;
    height: 160px;
    position: relative;
    margin: 10% auto;
    padding: 5px 0 5px 0;
    background-color: white;
}

.btn_modal input{
    width: 150px;
}

@media screen and (min-width: 800px) and (max-width: 1400px) {   
    html{  
        padding: 0;
        margin: 0;
    }  
    #form_upload_file{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #form_upload_file input{
        margin-top: 0.5em;
        margin-right: 0.3em;
        margin-left: 0.3em;
        margin-bottom: 0.7em;
    } 

    .form_input{
        width: 48%;
    }

    .frm_table p, .frm_add p{
        border-right: 1px solid #CCC;
        border-left: 1px solid #CCC;
    }
} 

@media screen and (min-width: 100px) and (max-width: 800px) {   
    html{  
        padding: 0;
        margin: 0;
    }  
    #form_upload_file input{
        margin-top: 0.5em;
        margin-right: 0.7em;
        margin-left: 0.5em;
        margin-bottom: 0.7em;
    } 
    .div_add{
        width: 100%;
        margin:0.2em;
    }

    .form_input{
        width: 97%;
    }
    .frm_table p, .frm_add p{
        border-right: 1px solid #CCC;
        border-left: 1px solid #CCC;
    }
    .divModal {
        width: 100%;
        height: 200px;
    }

    .btn_modal input{
        width: 100%;
    }

    .btn_modal{
        padding-left: 2em;
        padding-right: 2em;
    }
} 